.DS_Store
.idea/
.pytest_cache/
.python-version
.ruff_cache/
.uv-cache/
.venv/
__pycache__/
*.egg-info/
*.py[cod]
.coverage
coverage.xml
dist/
htmlcov/
test.db

.env
.env.prod
.env.local
.env.*.local

logs/
docs/
